*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#header {
    margin-bottom: 30px;
}

.header-text {
    font-size: 50px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

nav .nav-wrapper {
    max-width: 1264px;
    margin: 0 auto ;
}

.my-toast {
    background-color: #000;
    color: #ffffff;
    padding: 15px;
    animation-name: up;
    animation-duration: 2s;
}

.template {
    animation-name: upnews;
    animation-duration: 2s;
}

@keyframes upnews {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes up {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}

.favorite-news {
    padding-left: 8px;
}